:root{
    --main: rgba(204, 201, 161, 1);
    --color-light: rgba(240, 255, 206, 1);
    --highlight: rgba(165, 63, 43, 1);
    --highlight-dark: rgba(76, 35, 10, 1);
    --color-dark: rgba(40, 0, 4, 1);
}

@font-face {
    font-family: 'Aristotelica';
    src: url('../fonts/Aristotelica-Display-Regular.ttf');
}

html{
    scroll-behavior: smooth;
    height: auto;
}
body{
    background: var(--light) !important;
    margin: 0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none;
}
.content-view{
    min-height: 100vh;
    scroll-snap-align: start;
    background: var(--main);
    margin: 0 !important;
}

#title{
    background: var(--highlight);
}

.title{
	font-family: 'Aristotelica', Verdana, sans-serif;
    font-size: 5vw;
}

#about{
    background: var(--dark);
}

#contact{
    background: var(--color-dark);
}

.fa-arrow-alt-circle-up{
    font-size: 35pt;
    cursor: pointer;
    color: white;
}

.nav-btn{
    border-radius: 100px;
    min-height: 100%;
    width: 100%;
    margin: 0;
    color: var(--color-light);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.nav-btn:hover{
    border-radius: 100px;
    color: var(--color-light);
    background: var(--color-dark);
}

.nav-btn a{
    padding: auto;
    display: block;
    text-align: center;
}

.btn-text{
    color: var(--color-light);
    text-decoration: none;
    font-family: 'Aristotelica', Verdana, sans-serif;
    font-size: 5vw;
}

.btn-text:hover{
    color: var(--color-light);
    text-decoration: none;
}

.navigation{
    min-height: 20vh; 

}

@media (max-width: 1024px) {
    .title{font-size: 6vw;}
    .btn-text{font-size: 6vw;}    
}
@media (max-width: 768px) {
    .title{font-size: 10vw;}
    .btn-text{font-size: 10vw;}
}
@media (max-width: 481px) {
    .title{font-size: 14vw;}
    .btn-text{font-size: 14vw;}
}  

@media (max-width: 385px) {
    .title{font-size: 12vw;}
    .btn-text{font-size: 12vw;}
}  